<!-- <div class="row">
  <% @recipe.each do |recipe| %>
    <p>
      <a href="#" data-toggle="modal" data-target="#myModal_<%=recipe.id %>">
          <span class="glyphicon-plus"></span> Quick Info
      </a>
    </p>
  </div>


<div class="modal fade" id="myModal_<%= recipe.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= recipe.title %></h4>
      </div>
      <div class="modal-body">
        <% if recipe.image.url.nil? == false %>
          <p><%=image_tag recipe.image.url, size: 150 %></p>
          <% end %>
          <p>Uploaded by:<%= recipe.user.email %></p>
          <p>Recipe: <%= recipe.title %></p>
          <p>description: <%= recipe.description %></p>
      </div>
      <div class="modal-footer">
        <div style="display: inline-block;">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      </div>
    </div>
  </div>
</div>
<% end %> -->
<a href="#openModal"><span class="glyphicon-plus"></span></a>

<div id="openModal" class="modalDialog">
  <div>
		<a href="#close" title="Close" class="close">X</a>
		<h2>Snapshot</h2>
		<p>This is a sample modal box that can be created using the powers of CSS3.</p>
		<p>You could do a lot of things here like have a pop-up ad that shows when your website loads, or create a login/register form for users.</p>
	</div>

</div>
